<!DOCTYPE html>
<html lang="en">
  {{partial "head.html" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" .}}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>About Us</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>About Us</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section class="about2">
        <div class="container">
          <div class="row content">
            <div class="col-lg-6">
              <h3>
                Clarity Psychological Services provides assessment and treatment
                services out of the Lower Mainland, BC. We are currently
                providing services via secure telehealth platform and in person
                at our Burnaby, BC location.
              </h3>
              <p>
                We are dedicated to providing dignity-affirming, culturally
                sensitive care in the service of your personal goals and
                wellbeing. We welcome individuals from all backgrounds,
                spiritual denominations, and relationship and sexual
                orientations (i.e., LGBTQ2SIA+ and multi-amory friendly). We are
                offering remote treatment and assessment services to individuals
                in British Columbia and Nova Scotia at this time.
              </p>
              <p>
                <a href="/contatc-us"> Contact us</a> today to see how we can be
                of service to you.
              </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <img src="/assets/img/assesment.jpg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Team Section ======= -->
      <section class="team section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Clarity Clinicians</h2>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="member d-flex">
                <div class="pic">
                  <img src="/assets/img/team.jpg" class="img-fluid" />
                </div>
                <div class="member-info">
                  <h4>Dr. Jonathan Blasberg , R. Psych (2350)</h4>
                  <p>
                    Dr. Jonathan Blasberg is the founder and clinical director
                    of Clarity Psychological Services. He is a registered
                    psychologist with the
                    <a href="https://chcpbc.org/" target="_blank"
                      >College of Health and Care Professionals of British
                      Columbia</a
                    >
                  </p>
                  <p>
                    Dr. Blasberg completed his Ph.D. in Clinical Psychology from
                    the University of British Columbia and his pre-doctoral
                    internship was completed at The Ottawa Hospital
                    Rehabilitation Centre and the University of Ottawa Heart
                    Institute, treating anxiety and depression in patients
                    coping with serious illness and/or injury. In providing
                    assessment services, Dr. Blasberg is dedicated to
                    understanding your unique experiences and circumstances and
                    communicating your personal story clearly in a way that you,
                    other health professionals, and other stakeholders can
                    understand. In providing treatment, Dr. Blasberg uses a
                    combination of cognitive-behavioural, interpersonal, and
                    mindfulness-based approaches to psychological treatment, and
                    takes pride in developing effective working relationships
                    with clients to help them improve their quality of life and
                    meet their personal wellness goals.
                    <a href="#contact">Contact Dr. Blasberg today.</a>
                  </p>
                  <p>
                    Our clinic is expanding, watch this space for new clinicians
                    to be added in the future.
                  </p>
                  <p>
                    If you are interested in joining our team, please
                    <a href="/contact-us">contact us</a>
                  </p>
                </div>
              </div>
            </div>

            <!--

            <div class="col-lg-12">
              <div class="member d-flex">
                <div class="pic"></div>
                <div class="member-info">
                  <h4>Dr. Jill Nesbitt, R. Psych (2421)</h4>

                  <p>
                    Dr. Nesbitt’s work experience encompasses a variety of
                    settings, including community mental health-dialectical
                    behaviour therapy and intensive outpatient teams, university
                    counseling center, university-based hospital, long-term care
                    facilities, and rehabilitative health center. She fosters an
                    integrative and collaborative environment in which she works
                    with clients to identify the underlying causes of their
                    challenges. By using evidence-based techniques, Dr. Nesbitt
                    empowers her clients to overcome their difficulties and move
                    forward in their lives. Creating a supportive and validating
                    space is a cornerstone of Dr. Nesbitt’s practice and she
                    strives to provide a nurturing environment that promotes
                    growth and healing for her clients. Together, Dr. Nesbitt
                    helps her clients explore their experiences, uncover their
                    strengths, and develop strategies to help them overcome and
                    thrive beyond their current difficulties. Dr. Nesbitt
                    provides video- and telephone psychotherapy appointments and
                    currently has limited evening and daytime openings
                    available. Please feel free to contact Dr. Nesbitt at (778)
                    874-3964 or drjillnesbitt@gmail.com to schedule an initial
                    appointment or to obtain more information.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="member d-flex">
                <div class="pic"></div>
                <div class="member-info">
                  <h4>Dr. Jenny Tang, R. Psych (1738)</h4>
                  <p>
                    Dr. Jenny Tang is a Registered Psychologist with almost 20
                    years of clinical experience; she has worked with diverse
                    adults in different settings and my primary focus over the
                    years has been to provide comprehensive assessment services
                    to help support clients in addressing their mental health
                    needs. My approach is diligent, gentle, and persistent; I
                    hope that we can work together to communicate your
                    perspectives in a way that is helpful for both yourself and
                    your service providers. I am presently providing the
                    following assessment services: diagnosis, treatment,
                    personality and cognitive functioning, vocational
                    rehabilitation, pre-sentence psychological reports, and
                    incapability assessments (under the Guardianship Act, Part
                    3). Dr. Tang is not currently accepting new referrals at
                    this time. She can be contacted at: drjennytang@gmail.com
                  </p>
                </div>
              </div>
            </div>
            -->
          </div>
        </div>
      </section>
      <!-- End Team Section -->
    </main>
    <!-- End #main -->
    <!-- End #main -->
    {{ partial "footer.html" .}}
  </body>
</html>
