<!DOCTYPE html>
<html lang="en">
  {{partial "head.html" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" .}}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>About</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>About</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section class="about2">
        <div class="container">
          <div class="row content">
            <div class="col-lg-6">
              <h3>
                Clarity Psychological Services provides assessment and treatment
                services out of the Lower Mainland, BC. We are currently
                providing services via secure telehealth platform at this time.
              </h3>
              <p>
                We are dedicated to providing dignity-affirming, culturally
                sensitive care in the service of your personal goals and
                wellbeing. We welcome individuals from all backgrounds,
                spiritual denominations, and relationship and sexual
                orientations (i.e., LGBTQ2SIA+ and multi-amory friendly).
              </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <img src="/assets/img/hero-img.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Team Section ======= -->
      <section class="team section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Clarity Clinicians</h2>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="member d-flex">
                <div class="pic">
                  <img src="/assets/img/team.jpg" class="img-fluid" />
                </div>
                <div class="member-info">
                  <h4>Dr. Jonathan Blasberg , R. Psych (2350)</h4>
                  <p>
                    Dr. Blasberg completed his Ph.D. in Clinical Psychology from
                    the University of British Columbia and his pre-doctoral
                    internship was completed at The Ottawa Hospital
                    Rehabilitation Centre and the University of Ottawa Heart
                    Institute, treating anxiety and depression in patients
                    coping with serious illness and/or injury. Dr. Blasberg uses
                    a combination of cognitive-behavioural, interpersonal and
                    mindfulness-based approaches to psychological treatment, and
                    takes pride in developing effective working relationships
                    with clients to help them improve their quality of life and
                    meet their personal wellness goals.
                    <a href="#contact">Contact Dr. Blasberg today.</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="member d-flex">
                <div class="pic">
                  <!--                  <img
                    src="https://images.unsplash.com/photo-1578589301857-8c662e4bfe99?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGR1bW15JTIwaW1hZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                    class="img-fluid"
                  />
                  -->
                </div>
                <div class="member-info">
                  <h4>Dr. Jill Nesbitt, R. Psych (2421)</h4>
                  <p>
                    Dr. Nesbitt’s work experience encompasses a variety of
                    settings, including community mental health-dialectical
                    behaviour therapy and intensive outpatient teams, university
                    counseling center, university-based hospital, long-term care
                    facilities, and rehabilitative health center. She fosters an
                    integrative and collaborative environment in which she works
                    with clients to identify the underlying causes of their
                    challenges. By using evidence-based techniques, Dr. Nesbitt
                    empowers her clients to overcome their difficulties and move
                    forward in their lives. Creating a supportive and validating
                    space is a cornerstone of Dr. Nesbitt’s practice and she
                    strives to provide a nurturing environment that promotes
                    growth and healing for her clients. Together, Dr. Nesbitt
                    helps her clients explore their experiences, uncover their
                    strengths, and develop strategies to help them overcome and
                    thrive beyond their current difficulties. Dr. Nesbitt
                    provides video- and telephone psychotherapy appointments and
                    currently has limited evening and daytime openings
                    available. Please feel free to contact Dr. Nesbitt at (778)
                    874-3964 or drjillnesbitt@gmail.com to schedule an initial
                    appointment or to obtain more information.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="member d-flex">
                <div class="pic">
                  <!--                  <img
                    src="https://images.unsplash.com/photo-1578589301857-8c662e4bfe99?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGR1bW15JTIwaW1hZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
                    class="img-fluid"
                  />
                  -->
                </div>
                <div class="member-info">
                  <h4>Dr. Jenny Tang, R. Psych (1738)</h4>
                  <p>
                    Dr. Jenny Tang is a Registered Psychologist with almost 20
                    years of clinical experience; she has worked with diverse
                    adults in different settings and my primary focus over the
                    years has been to provide comprehensive assessment services
                    to help support clients in addressing their mental health
                    needs. My approach is diligent, gentle, and persistent; I
                    hope that we can work together to communicate your
                    perspectives in a way that is helpful for both yourself and
                    your service providers. I am presently providing the
                    following assessment services: diagnosis, treatment,
                    personality and cognitive functioning, vocational
                    rehabilitation, pre-sentence psychological reports, and
                    incapability assessments (under the Guardianship Act, Part
                    3). Dr. Tang is not currently accepting new referrals at
                    this time. She can be contacted at: drjennytang@gmail.com
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->
    </main>
    <!-- End #main -->
    <!-- End #main -->
    {{ partial "footer.html" .}}
  </body>
</html>
