<!DOCTYPE html>
<html lang="en">
  {{partial "head.html" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" .}}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Clarity in Diagnosis</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Assessment</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section class="about2">
        <div class="container">
          <div class="row content">
            <div class="col-lg-6">
              <h3>
                Clarity Psychological Services offers customized assessment
                services for adults, including:
                <ul class="list">
                  <li>
                    <img src="/assets/img/icon.png" alt="icon" />
                    <p>Attention Deficit Hyperactivity Disorder (ADHD)</p>
                  </li>

                  <li>
                    <img src="/assets/img/icon.png" alt="icon" />
                    <p>
                      Specific Learning Disorders (e.g., dyslexia, dyscalculia,
                      etc.)
                    </p>
                  </li>

                  <li>
                    <img src="/assets/img/icon.png" alt="icon" />
                    <p>
                      Mental Health/Psychodiagnostic (e.g., depression, anxiety,
                      PTSD)
                    </p>
                  </li>

                  <li>
                    <img src="/assets/img/icon.png" alt="icon" />
                    <p>
                      Intellectual disability testing and adaptive functioning
                    </p>
                  </li>

                  <li>
                    <img src="/assets/img/icon.png" alt="icon" />
                    <p>
                      Medical-Legal Assessments (e.g., psychological injury)
                    </p>
                  </li>

                  <li>
                    <img src="/assets/img/icon.png" alt="icon" />
                    <p>Can you use a small version of my logo as the bullet?</p>
                  </li>
                </ul>

                <br /><br />

                <a href="#contact">Contact us</a> to schedule an initial
                consultation. We accept self-directed referrals as well as
                referrals from physicians, lawyers, and family members.
              </h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <img
                src="/assets/img/assesment-img.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= About Section ======= -->
      <section class="about2">
        <div class="container">
          <div class="row content">
            <h3>Frequently Asked Questions:</h3>
            <br /><br />
            <div class="col-lg-6">
              <h4>
                What is a psychological assessment and how are they useful?
              </h4>
              <p>
                A typical reason for obtaining a psychological assessment is to
                determine if you meet diagnostic criteria for a specific
                learning disorder, attention deficit/hyperactivity disorder, or
                other mental health condition. Formal assessments are sometimes
                required to access to services and/or specialized resources that
                require a formal diagnostic assessment by a psychologist or
                physician. Some people require a psychological assessment to
                support accommodations at work or school. Evidence-based
                recommendations for treatment and self-guided strategies for
                symptom management are also provided.
              </p>
              <img src="/assets/img/hero-img.png" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <h4>What do psychological assessments typically involve?</h4>
              <p>
                Assessments are uniquely tailored community each individual but
                most include:
              </p>
              <ul class="list">
                <li>
                  <img src="/assets/img/icon.png" alt="icon" />
                  <p>
                    Please feel free to <a href="/contact-us">Contact Us</a> to
                    schedule an initial consultation at no cost.
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon.png" alt="icon" /> an interview to
                  understand your current symptoms and difficulties, when they
                  started, and how they are impacting your quality of life and
                  day-to-day functioning
                </li>
                <li>
                  <img src="/assets/img/icon.png" alt="icon" /> one or more
                  symptom-based questionnaires or specialized diagnostic tests
                </li>
                <li>
                  <img src="/assets/img/icon.png" alt="icon" /> if required,
                  interviews with family members and review of school and
                  medical records, with your written consent
                </li>
              </ul>
              <p>
                After the assessment is completed you can expect to receive:
              </p>
              <ul class="list">
                <li>
                  <img src="/assets/img/icon.png" alt="icon" /> a detailed
                  report with a summary of the information collected, diagnostic
                  conclusions, and recommendations, including recommendations
                  for academic or workplace accommodations, evidence-based
                  treatments, and strategies for self-management
                </li>
                <li>
                  <img src="/assets/img/icon.png" alt="icon" />a feedback
                  session with the assessing psychologist by phone or video to
                  discuss the report and answer any questions you may have
                </li>
              </ul>
              <p>
                Any other questions please contact us using
                <a href="/contact-us">the form</a>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
    </main>
    <!-- End #main -->
    <!-- End #main -->
    {{ partial "footer.html" .}}
  </body>
</html>
