<!DOCTYPE html>
<html lang="en">
  {{partial "head.html" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" .}}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Clarity in Coaching</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Coaching</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section class="about2">
        <div class="container">
          <div class="row content">
            <div class="col-lg-6">
              <h3>
                Coaching services involve specific goal setting in the service
                of personal growth. We can work with you to develop a customized
                plan of action to help you achieve personal goals, including:
              </h3>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> finding a new career that
                  suits your skills and talents
                </li>
                <li>
                  <i class="ri-check-double-line"></i> building community and
                  improving your current relationships
                </li>
                <li>
                  <i class="ri-check-double-line"></i> improving your personal
                  productivity and your overall health and wellbeing
                </li>
                <li>
                  <i class="ri-check-double-line"></i>creating a new habit or
                  changing an old habit
                </li>
                <li>
                  <i class="ri-check-double-line"></i>dating support and
                  relationship coaching
                </li>
              </ul>
              <p>
                <a href="#contact">Contact us</a> to find out how coaching might
                be helpful for you.
              </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <img src="/assets/img/coaching.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
    </main>
    <!-- End #main -->
    <!-- End #main -->
    {{ partial "footer.html" .}}
  </body>
</html>
