<!DOCTYPE html>
<html lang="en">
  {{partial "head.html" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" .}}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-9 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">
              Growth and understanding <br />
              with clarity and compassion...
            </h1>
            <br />
            <p>
              We're glad you're here! We understand that seeking support for
              your mental well-being is a significant step, and we are here to
              provide you with compassionate and professional care.
            </p>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center">
                <a
                  href="/about-us"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>About us</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
                <a
                  href="/services/"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>Our Services</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0 align-items-stretch">
            <div
              class="col-lg-6 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <h3>Growth and understanding</h3>
                <p>
                  We're glad you're here! We understand that seeking support for
                  your mental well-being is a significant step, and we are here
                  to provide you with compassionate and professional care. With
                  a deep commitment to your overall wellness, Clarity
                  Psychological Services offers a range of evidence-based
                  therapies and comprehensive psychological assessments tailored
                  to your unique needs.
                </p>
                <p>
                  We are dedicated to creating a safe and nurturing environment
                  where you can explore your thoughts, emotions, and
                  experiences. Whether you're seeking therapy for anxiety,
                  depression, relationship issues, or any other challenges, we
                  are here to guide you on your journey towards healing and
                  personal growth.
                </p>
                <div class="text-center text-lg-start">
                  <a
                    href="/services"
                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                  >
                    <span>Read More</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 d-flex align-items-stretch"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img src="/assets/img/hero-img.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Our services</h2>
          </header>

          <div class="row">
            <div class="col-lg-6">
              <img src="/assets/img/features.png" class="img-fluid" alt="" />
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0">
              <div class="row gy-4">
                <div class="col-md-9" data-aos="zoom-out" data-aos-delay="200">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>
                      <a href="/services/assessment/">Clarity in Diagnosis</a>
                    </h3>
                  </div>
                </div>

                <div class="col-md-9" data-aos="zoom-out" data-aos-delay="300">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>
                      <a href="/services/treatment/">Clarity in Therapy</a>
                    </h3>
                  </div>
                </div>

                <div class="col-md-9" data-aos="zoom-out" data-aos-delay="400">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>
                      <a href="/services/coaching/">Clarity in Coaching</a>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / row -->
        </div>
      </section>
      <!-- End Features Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" .}}
  </body>
</html>
