<!DOCTYPE html>
<html lang="en">
  {{partial "head.html" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" .}}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Our Services</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Our Services</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section class="about2">
        <div class="container">
          <div class="row content">
            <div class="col-lg-6">
              <h3>
                Clarity Psychological Services offers customized assessment and
                consultation services, and individualized therapy services.
              </h3>
              <p>
                <a href="/services/assessment/"> Psychological assessments</a>
                provide a focused snapshot of current symptoms and functioning,
                personal strengths, areas of difficulty, recommendations for
                treatment and self-management are included in a comprehensive
                psychological report, as well as recommendations for academic
                and workplace accommodations if applicable.
                <br />
                <br />
                Assessments often typically involve determining if you meet
                criteria for a mental health diagnosis as part of a workplace or
                educational accommodation process, or to guide treatment
                planning.
              </p>
              <p>
                <a href="/services/treatment/">Psychological treatment </a>
                typically involves time-limited, recurring appointments with a
                psychologist in the service of a specific personal goal, either
                reducing symptoms of anxiety or depression, processing traumatic
                events, improving relationships, or overcoming other
                difficulties in order to live your best life. One-on-one therapy
                services are typically covered by insurance and some group
                therapy options are in planning as well.
              </p>
              <p>
                <a href="/services/coaching/">Coaching services</a>
                are for individuals who may not be particularly troubled by
                specific mental health symptoms or difficulties in their life at
                this time, but are looking to improve their quality of life,
                meet specific goals, or learn new coping skills for managing
                stress and other challenges.
              </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <img src="/assets/img/services.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md-12">
              <p>
                <a href="/services/speaking"
                  >Public speaking and mental wellness workshop
                </a>
                services – Interested in promoting mental health and wellness
                for employees, volunteers, or for your clients to connect mental
                wellness to your corporate brand? Dr. Blasberg is an experienced
                public speaker and clinical educator who will work with you to
                design a custom educational program that meets your needs. From
                hour-long seminars on stress management and burnout awareness
                and avoidance, to full-day mental health skills and development
                workshops and corporate retreats.
                <a href="/contact-us">Contact us</a> today to see how we can
                help meet your speaking and presentation needs.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
    </main>
    <!-- End #main -->
    <!-- End #main -->
    {{ partial "footer.html" .}}
  </body>
</html>
