<!DOCTYPE html>
<html lang="en">
  {{partial "head.html" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" .}}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Clarity in Therapy</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Treatment</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section class="about2">
        <div class="container">
          <div class="row content">
            <div class="col-lg-6">
              <h3>
                Clarity Psychological Services offers individually tailored
                treatment services to meet your needs.
                <br /><br />
                This typically involves meeting regularly with a mental health
                professional to work on improving your overall wellbeing and
                happiness, alleviate anxiety, reduce emotional distress, recover
                from stressful events, and improve resiliency.
                <br /><br />
                All therapeutic approaches provided by Clarity psychologists are
                scientifically grounded and based on a blend of multiple
                theoretical models of behaviour, including
                cognitive-behavioural, interpersonal, humanistic, and
                mindfulness-based approaches.
              </h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <img src="/assets/img/treatment.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= About Section ======= -->
      <section class="about2">
        <div class="container">
          <div class="row content">
            <h3>Frequently Asked Questions</h3>
            <br />
            <br />
            <div class="col-lg-6">
              <h4>What kinds of difficulties can we help with?</h4>
              <p>Some examples include:</p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> depression and low
                  mood/motivation
                </li>
                <li><i class="ri-check-double-line"></i>anxiety</li>
                <li>
                  <i class="ri-check-double-line"></i>attention-deficit disorder
                </li>
                <li>
                  <i class="ri-check-double-line"></i>stress and burnout at
                  work, school or in your relationships
                </li>
                <li><i class="ri-check-double-line"></i>perfectionism</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <h4>How does it work?</h4>
              <p>
                Appointments are via a secure telehealth platform that is easy
                and convenient to use. Frequency of sessions can vary and the
                optimum frequency is determined based on your specific needs in
                consultation with your psychologist. Usually, treatment is
                time-limited, and involves meeting at regular intervals to
                support personal change and monitor progress.
              </p>
              <p>
                When you <a href="#contact">contact us</a> at Clarity
                Psychological Services, we will reach out within 48 hours to
                discuss how we might help address specific problems or improve
                your quality of life.
              </p>
              <h4>Group therapy services</h4>
              <p>
                We are currently exploring the possibility of a group based
                programs for anxiety and stress management,
                <a href="#contact">let us know</a> if you're interested.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
    </main>
    <!-- End #main -->
    <!-- End #main -->
    {{ partial "footer.html" .}}
  </body>
</html>
