<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{.Title}}</title>
  <meta content="{{.Description}}" name="description" />

  {{ $keywords := .Params.keywords }} {{ if $keywords }}
  <meta
    name="keywords"
    content="{{ range $index, $keyword := $keywords }}{{ if $index }}, {{ end }}{{ $keyword }}{{ end }}"
  />
  {{ end }}

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon" />
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
  <link
    href="/assets/vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link
    href="/assets/vendor/glightbox/css/glightbox.min.css"
    rel="stylesheet"
  />
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />

  <!---->
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
